.article_body{
    margin: 5% 10%;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 .5rem 1rem rgba(239, 21, 21, 0.73);
}

.article_title {
    font-size: 24px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 28px;
    margin: 5% 5% 0;
}

.post_date{
    font-family: Arial,Helvetica,sans-serif;
    margin-bottom: 5px;
    color: #afafaf;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    margin-left: 5%;
}

.article_image{
    margin: auto;
    margin-bottom: 2%;
}

.statement{
    margin: 0 2%;
    font-size: 18px;
    font-family: "PT Serif",Georgia,serif;
    line-height: 24px;
}

