@page
@model F1Pulse.Pages.Stats.LapPositionsModel

<div class="vh-100 ">
    <div class="choice_area">
        <select class="form-select" id="year" asp-for="Input.Year" asp-items="Model.YearList"></select>
        <select class="form-select" id="round" asp-for="Input.Round" asp-items="Model.RoundList"></select>
    </div>

    <div class="m-5 " style="position: relative; height:65vh; width:80vw">
        <canvas id="lap-times-chart"></canvas>
    </div>
</div>
@section Scripts
{
    <script src="~/js/Stats/LapPositions.js"></script>
    <link rel="stylesheet" href="~/css/Stats/LapTimes.css"/>
}
