@page
@model F1Pulse.Pages.Stats.MenuModel



<div class="vh-100 d-flex justify-content-center align-items-center ">
    <div class="text-center">
        <form asp-page="/Stats/LapTimes">
            <button type="submit" class="btn btn-outline-danger" style="font-family: Bahnschrift">Lap Times</button>
        </form>
        <form asp-page="/Stats/LapPositions">
            <button type="submit" class="btn btn-outline-danger" style="font-family: Bahnschrift">Lap Positions</button>
        </form>
    </div>
</div>
