@page
@model F1Pulse.Pages.Stats.MenuModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title></title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>
<div>
    <div class="vh-100 d-flex justify-content-center align-items-center ">
        <div class="text-center">
            <form asp-page="/Stats/Laps">
                <button type="submit" class="btn btn-outline-danger" style="font-family: Bahnschrift">Laps</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>