@page
@model F1Pulse.Pages.Stats.QualifyingResultsModel

<div class=" ">
    <div class="choice-area">
        <select class="form-select" id="year" asp-for="Input.Year" asp-items="Model.YearList"></select>
    </div>

    <div class="m-5 " style="position: relative; height:65vh; width:80vw">
        <canvas id="race-results-chart"></canvas>
    </div>
</div>
@section Scripts
{
    <script src="~/js/Stats/QualifyingResults.js"></script>
    <link rel="stylesheet" href="~/css/Stats/QualifyingResults.css"/>
}
