@model F1Pulse.Models.Stats.ConstructorStandingsModel

<div class="vh-100 ">
    <div class="choice-area">
        <select class="form-select" id="year" asp-for="@Model.Year" asp-items="@Model.YearList"></select>
    </div>
    
    <canvas id="constructor-standings-chart" style="margin: 5%"></canvas>
    
</div>
@section Scripts
{
    <script src="~/js/Stats/ConstructorStandings.js"></script>
    <link rel="stylesheet" href="~/css/Stats/ConstructorStandings.css"/>
}