@page
@model F1Pulse.Pages.Stats.LapTimesModel

<div class="vh-100 ">
    <div class="choice-area">
        <select class="form-select" id="year" asp-for="Input.Year" asp-items="Model.YearList"></select>
        <select class="form-select" id="round" asp-for="Input.Round" asp-items="Model.RoundList"></select>
    </div>
    
    <canvas id="lap-times-chart" style="margin: 5%"></canvas>
    
</div>
@section Scripts
{
<script src="~/js/Stats/LapTimes.js"></script>
<link rel="stylesheet" href="~/css/Stats/LapTimes.css"/>
}
